main {
  margin-bottom: 4rem;
}


form button {
  padding: 0.5rem 0.25rem;
  margin-top: 1.5rem;
}

form, fieldset {
    display: flex;
    flex-direction: column;
}

form, label {
  margin-bottom: 2rem;
}

.result-paragraph {
  font-family: monospace;
  background-color: lightgray;
  padding: 0.25rem;
  border-radius: 0.25rem;
  visibility: hidden;
}

.display {
  visibility: visible;
}

button, .result-paragraph {
  width: max-content;
}

