html {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  font-family: inherit;
  box-sizing: inherit;;
}

button {
  cursor: pointer;
}

main {
  margin-bottom: 4rem;
}


form > label {
  display: block;
}

fieldset {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  border: 0;
}

legend {
  margin-bottom: 0.75rem;
}

fieldset, legend {
  padding-left: 0;
}


fieldset input {
  margin-left: 0.25rem;
}



form button {
  padding: 0.5rem 0.25rem;
  margin-top: 1.5rem;
  border: 0;
  border-radius: 0.25rem;
}

form button.btn-check-cash-register {
  background-color: seagreen;
  color: #FFF;
}


form, form > input
 {
  margin-bottom: 2rem;
}

form > label, form > input {
  margin-left: 0.5rem;
}



label, legend {
  font-weight: bold;
}

.fieldset-wrapper {
  background-color: beige;
  padding: 0.25rem 0.5rem;
}


.result-paragraph {
  font-family: monospace;
  background-color: lightgray;
  padding: 0.25rem;
  border-radius: 0.25rem;
  visibility: hidden;
}

.display {
  visibility: visible;
}

button, .result-paragraph {
  width: max-content;
}

